*.iml
.idea/*
.idea/**/*
/local.properties

# Ignore Gradle files
.gradle/
.gradle/**
build/
**/build/
.gradle/**/buildOutputCleanup/
.gradle/**/buildOutput/
.gradle/**/classes/
.gradle/**/*.lock
.gradle/**/*.bin
gradle-wrapper.jar
gradlew
gradlew.bat

# Ignore Build directories
/build/
**/build/

# Ignore macOS system files
.DS_Store

# Ignore Native Build Files
/captures
.cxx
.externalNativeBuild

# Ignore SQLite build folder
sqlite/build/*

# Ignore class files
**/*.class

# Ignore Gradle build output
.gradle/**/buildOutputCleanup
.gradle/**/buildOutput
.gradle/**/classes