# Ignore IntelliJ/Android Studio files
*.iml
.idea/*
.idea/**/*
/local.properties

# Ignore Gradle files
.gradle/
.gradle/**

# Ignore Build directories
/build/
**/build/

# Ignore macOS system files
.DS_Store

# Ignore Native Build Files
/captures
.cxx
.externalNativeBuild

# Ignore SQLite build folder
sqlite/build/*

# Ignore class files
**/*.class